.gumroad-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: #000;
  opacity: 0.3;
}

.gumroad-popup-iframe {
  display: block;
  position: absolute;
  left: 10%;
  width: 80%;
  height: 850px;
  z-index: 1000;
  border: none;
}

.gumroad-button {
  padding: 12px 24px;
  display: inline-block;
  font-size: 16px;
  font-family: sans-serif;
  text-decoration: none;
  background-color: #4caf50;
  color: white;
}
